<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>System - PinPointCompendium</title>
</head>
<body>
<h1>System</h1>
<div class="sidebar" style="border-right-style: solid; width: fit-content; margin-top:1%;padding-right: 1%">
    <a th:href="@{/static}" class="sidebar-tab" style="display: block">Home</a>
    <a th:href="@{/system}" class="sidebar-tab" style="display: block">System</a>
    <a th:href="TODO" class="sidebar-tab" style="display: block">Albums</a>
    <a th:href="TODO" class="sidebar-tab" style="display: block">Trips</a>
</div>
</body>
</html>