.buttons {
    display: flex;
    width: fit-content;
    margin-top: 1%;
    padding-right: 1%;
    padding-left: 5px;
    padding-bottom: 100%;
}

.header {
    display: block;
}

.header > h2 {
    text-align: center;
}

.nav-button{
margin-right:2px;
}