.sidebar {
    display: block;
    width: fit-content;
    margin-top: 1%;
    padding-right: 1%;
    padding-left: 5px;
    padding-bottom: 100%;
}

.sidebar-tab {
    margin-bottom: 5%;
    font-size: 100%;
    font-style: normal;
    text-align: center;
    text-underline-style: none;
    display: block;
}

.header {
    display: block;
}

.header > h2 {
    text-align: center;
}